<main>
    <div class="tarjetas" *ngFor="let usuario of usuarios">
            <img src="./assets/img4.jpg" alt="Descripción de la imagen">
            <div class="card-body">
                <h5>Nombre:{{usuario.name}}</h5>
            </div>
                <h5>Usuario:{{usuario.username}}</h5>
            <div class="card-body">
                <p>Correo electrónico:{{usuario.email}}</p>
            </div>
            <div class="card-body">
                <p>Ciudad:{{usuario.address.city}}</p>
            </div>
            <div class="card-body">
                <p>Teléfono:{{usuario.phone}}</p>
            </div>
    </div>
</main>